{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "window": "readonly",
    "fetch": "readonly",
    "Buffer": "readonly",
    "process": "readonly"
  },
  "rules": {
    "react/prop-types": 0,
    "semi": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"],
    "no-unsafe-optional-chaining": 2
  }
}
